#titulo{
    color: red;
    position: relative;
    background-color: blue;
    text-align: center;
}
.img{
    display: block;
    margin: auto;
    background-color: black;
}
#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
}
#principal{
    width: 75%;
    background-color: greenyellow;
}
#sidebar{
    width: 25%;
    background-color: aqua;
}
#formulario{
    display: block;
    background-color: violet;
}